.Quote{
	font-size: 1.3em;
	font-family: 'Bad Script', cursive;
	animation: animate 3s linear infinite;

}


h1{
	font-size: 5em;
	font-family: 'georgia';
	animation: my 3s infinite;
}

@keyframes animate{
	from{
		color: #fff;
				filter: blur(0px);
		text-shadow: 0 0 10px #ff1a1a,
					0 0 10px #ff1a1a,
					0 0 10px #ff1a1a,
					0 0 10px #ff1a1a,
					0 0 10px #ff1a1a;
	}

	to{
		color: #111;
		filter: blur(0px);
		text-shadow: 0 0 10px #00b3ff,
					 0 0 10px #00b3ff,
					 0 0 10px #00b3ff,
					 0 0 10px #00b3ff,
					 0 0 10px #00b3ff;
	}
}

.thumbnail{
	background-color: rgba(204, 204, 204,0.5);
	padding-left: 20px;
	padding-right: 20px;
}
a{
	font-color :black;
}

.image-head{

	position: absolute;
	margin-left: -650px;
	width: 220px;
	margin-top: -35px;
	height: 220px;
}
#main-content{
	margin-left: 20px;
	margin-right: 20px;
}

header{
	margin margin-top: 0;
	margin-bottom: 20px;
	padding-top: 50px;
	padding-bottom: 20px;
	background: linear-gradient(to right, #b06ab3,#4568dc );
}


.column {
  float: left;
  width: 25%;
  padding: 10px;
}


.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
} 
.video-responsive iframe{
    left:10%;
    top:5%;
    height:70%;
    width:80%;
    position:absolute;
}

footer{
	padding:0;
	margin:0;
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
}

.action{
	position: fixed;
	bottom: 50px;
	left: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background:#ffe6ff;
	border-radius: 50%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1); 
}

.action span{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	color: #a13dea;
	font-size: 2em;
	transition: 0.3s ease-in-out;
}

.action.active span
{
	transform: rotate(135deg);
}

.action ul
{
	position: absolute;
	bottom: 55px;
	background:#fff;
	min-width: 250px;
	padding: 20px;
	border-radius: 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.action.active ul
{
	bottom: 65px;
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}

.action ul li
{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 0;
	transition: 0.3s;

}

.action ul li:hover
{
	font-weight: 600; 
}

.action ul li:not(:last-child)
{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.action ul li img
{
	height: 32px;
	width: 32px;
	margin-right: 10px;
	opacity: 0.2;
	transform:scale(0.8); 
}

.action ul li:hover img
{
	opacity: 0.8;
}

.newPages{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	 
	font-family: 'Poppins',sans-serif;
}

.container{
	position: relative;
	width: 100%;	
}

.container .box
{

	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	height: 500px;
	background: #060c21;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;

}

.container .box:before
{
	content: '';
	position: absolute;
	top:-2px;
	left:-2px;
	right: -2px;
	bottom: -2px;
	background: linear-gradient(#ff0057,#e64a19);
	transform: skew(2deg,2deg);
	z-index: -1;
}

.container .box:after
{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 0%;
	height: 100%;
	background: rgba(255,255,255,0.05);

}
 .content
 {
 	position: relative;
 	padding: 20px;
 }

 .content h2
 {
 	position: absolute;
 	top:-70px;
 	right: 20px;
 	margin: 0;
 	padding: 0;
 	font-size: 10em;
 	color: rgba(255,255,255,.5);
 	transition: 0.5s;
 }

.box:hover  .content h2
{
	top:-140px;
}

.box .content h3
{
	margin-top: 10px;
	padding: 0;
	font-size: 24px;
	font-weight:500; 
	color:#fff; 
}
.box .content p
{
	margin-top: 10px;
	padding: 0;
	color: #fff;
	font-size: 16px;
}
@media(min-width:1200px ){
.box .content a
{
	position: relative;
	margin:0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
		margin-top: 10px;
	visibility: hidden;
}


.box:hover .content a
{

	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}


.box .content a:hover
{
	color: #000;
	background: #fff;
}
}
@media(max-width:1199px ){
.box .content a
{
	position: relative;
	margin:0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(0px);
	opacity: 1;
		margin-top: 10px;
	visibility: visible;
}


.box:hover .content a
{

	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}


.box .content a:hover
{
	color: #000;
	background: #fff;
}
}

.notify{

	position: relative;
	font-family: 'Bad Script', cursive;
	font-size:  3em;
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: 700; 
}