*{
	margin:0;
	padding: 0;
}

.main{
	width: 100%;
	height: 100vh;
	background-image: url(https://www.arcgis.com/sharing/rest/content/items/bf209a8ddfdb45fa9e65950907c42570/resources/1569960997323.jpeg?w=3117);
	opacity: 0.85;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.content
{
	padding: 0 100px;
	height: 100vh;
	display: flex;
	align-items: center;
}

.box{
	margin-left: 170px;
	position: relative;
	max-width: 900px;
	max-height: 300px;
	padding: 50px;
	background: rgba(255,255,255,.6);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	flex-direction: row-reverse;

}

.box h2{
	font-family: 'Merienda', cursive;

	margin: 0 0 20px;
	padding: 0;
	font-size: 60px;
	color:  #1a1aff;
}
.box p{
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{
	0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
	100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
	@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
	@keyframes snowflakes-shake{0%{
		transform:translateX(0px)}
		50%{transform:translateX(80px)
			}100%{transform:translateX(0px)
				}
			}

.snowflake{position:fixed;top:-10%;
	z-index:9999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;
	-webkit-animation-duration:10s,3s;
	-webkit-animation-timing-function:linear,ease-in-out;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running
	}

	.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}

	.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}

	.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}

	.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}

	.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}

	.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}

	.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}

	.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}

	.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}

	.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

	.snowflake:nth-of-type(10){left:95%;-webkit-animation-delay:3s,1.5s;animation-delay:2s,2s}

	.snowflake:nth-of-type(11){left:55%;-webkit-animation-delay:5s,0.5s;animation-delay:3s,0s}

	.snowflake:nth-of-type(12){left:75%;-webkit-animation-delay:6s,1.5s;animation-delay:5s,1.5s}

	.snowflake:nth-of-type(13){left:35%;-webkit-animation-delay:4s,1.5s;animation-delay:1s,1s}

	.snowflake:nth-of-type(14){left:65%;-webkit-animation-delay:10s,1.5s;animation-delay:7s,0s}

	a
{
	position: relative;
	margin:0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid  #000000;
	display: inline-block;
	color: #000000;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
		margin-top: 10px;
	visibility: hidden;
}

.content:hover .box a
{

	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.content .box a:hover
{
	color: #000;
	opacity: 0.7;
	background: #fff;
}
}
@media(max-width:1199px ){
.content .box a
{
	position: relative;
	margin:0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(0px);
	opacity: 1;
		margin-top: 10px;
	visibility: visible;
}


.content:hover .box a
{

	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}


.content .box a:hover
{
	color: #000;
	background: #fff;
	opacity: 0.6
}
}
